
/* https://coolors.co/6699cc-fff275-ff8c42-ff3c38-a23e48 */
body
{
	font-family: helvetica, cambria, georgia;
	color: #0f0326;
	background-color: #cfe6fc;
	margin: 0 auto;
	padding: 20px;
	width: auto;
}
main
{
	font-family: courier new;
	background-color: #FFFF82;
}
header, footer, nav
{
	text-align: center;
}
.header-nav{
	background-color: #b0b0b0
	
}

footer{
	background-color: #b0b0b0
}

h1, h2, h3
{
	font-family: Georgia, Cochin, Cambria, serif;
	text-align: center;
}
a
{
	text-decoration: none;
	color: #FFFF82;
	font-weight: bold;
}
a:hover
{
	text-decoration: underline;
	color: mediumseagreen;
}

div
{
	text-align: center;
	border:  0;
	border-color: black;
}
.column
{
	width: 33.33%;
	float: left;
}

.row:after
{
	content: "";
	display: table;
	clear: both;
}


.bx-wrapper {
	width: 1000px;
	margin: auto;
	color: #b0b0b0; 
}
#id_pager {
	text-align: center;
	font-size: 90%;
	color: green;
}
.box
{
	border: 1px solid black;
	margin: auto;
	width: 600px;
	padding: 10px;
	text-align: center;
}
.reviews
{
	display: flex;
}
.image
{
	width: 600px;
	height: 400px;
}
/* padding-bottom and top for image */
.mfp-no-margins img.mfp-img {
	padding: 0;
}
/* position of shadow behind the image */
.mfp-no-margins .mfp-figure:after {
	top: 0;
	bottom: 0;
}
/* padding for main container */
.mfp-no-margins .mfp-container {
	padding: 0;
}
.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
	opacity: 0;
	-webkit-backface-visibility: hidden;
	-webkit-transition: all 0.3s ease-out; 
	-moz-transition: all 0.3s ease-out; 
	-o-transition: all 0.3s ease-out; 
	transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
		opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
		opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container, 
.mfp-with-zoom.mfp-removing.mfp-bg {
	opacity: 0;
}